# Editors
.vscode
.idea
.DS_Store
static/.DS_Store
.python-version


# Python
__pycache__/
.pytest_cache

# Stage user images
avatar/

# Flask config
instance/app.cfg

# log files in any path
**/*.log

# Rotated log files
**/*.log*

venv-member-ui
static-src/node_modules
static-src/package-lock.json
static/js/apps.js
connections-images/jes-finch-3/ffcf5877-7349-419c-ba5c-8d027febafd6.png
connections-images/jes9-wal9/ffcf5877-7349-419c-ba5c-8d027febafd6.png
connections-images/jesssss-waldrip/b1000acb-bc6d-428c-86f9-b9cc7472aff2.png
profile-pics/930a9f9a-ec3b-480d-a33c-886848d0566b.png
profile-pics/b1000acb-bc6d-428c-86f9-b9cc7472aff2.png
