# Editors
.vscode
.idea
.DS_Store
static/.DS_Store


# Python
__pycache__/
.pytest_cache

# Stage user images
avatar/

# Flask config
instance/app.cfg

# log files in any path
**/*.log

# Rotated log files
**/*.log*

venv-member-ui
static-src/node_modules
static-src/package-lock.json
static/js/apps.js