[Unit]
Description=uWSGI serivice for HuBAMP Member Registration and Profile
After=syslog.target

[Service]
ExecStart=/usr/sbin/uwsgi --ini /opt/hubmap/member-ui/uwsgi.ini -H /opt/hubmap/member-ui/venv-member-ui/
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all
ExecStop=/usr/sbin/uwsgi --stop /var/run/hubmap-member-ui-uwsgi.pid

[Install]
WantedBy=multi-user.target

