# App name and deployment URI
FLASK_APP_NAME = 'HuBMAP User Registration'
# Need the trailing slash /
FLASK_APP_BASE_URI = 'http://localhost:5000/'

# Flask app session key
SECRET_KEY = '54esfdasd8jf99adsf909oel'

# Globus app client ID and secret
GLOBUS_APP_ID = '21f293b0-5fa5-4ee1-9e0e-3cf88bd70114'
GLOBUS_APP_SECRET = 'gimzYEgm/jMtPmNJ0qoV11gdicAK8dgu+yigj2m3MTE='

# Google reCAPTCHA v2 ("I'm not a robot" Checkbox) keys
GOOGLE_RECAPTCHA_SITE_KEY = '6LdgJ6YUAAAAAB2_O7UhTzpg7XZYdJdLLl19oukC'
GOOGLE_RECAPTCHA_SECRET_KEY = '6LdgJ6YUAAAAANo6yBuVbP5seIYhFkG1TeQ7F5Ch'
GOOGLE_RECAPTCHA_VERIFY_URL = 'https://www.google.com/recaptcha/api/siteverify'

# DB connection and settings
SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://wp_dev_user:hm17WPdev!@localhost/wp_dev'
#SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://root:?ZHl4>tyAhq9@localhost/wp_dev'
SQLALCHEMY_TRACK_MODIFICATIONS = False
UPLOAD_FOLDER = './avatar'
ALLOWED_EXTENSIONS = set(['jpg', 'jepg', 'png', 'gif'])
ADMIN_USERNAME = 'hmadmin'
CONNECTION_IMAGE_PATH = '/home/webadmin/wp-content/uploads/connections-images/'
CONNECTION_IMAGE_URL = 'https://dev2.hubmapconsortium.org/wp-content/uploads/connections-images/'
#MAX_CONTENT_PATH = 100000 # Specifies Maximum size of file will be uploaded

# Email settings for Flask-Mail extension
MAIL_SERVER = 'smtp.gmail.com'
MAIL_PORT = 587
MAIL_USE_TLS = True
MAIL_USERNAME = 'hubmap.data@gmail.com'
MAIL_PASSWORD = 'demouser'
MAIL_DEFAULT_SENDER = ('HuBMAP Registration and Profile', 'hubmap.data@gmail.com')

# Admin emails, not part of Flask-Mail configuration
MAIL_ADMIN_LIST = ["yuanzhou19@gmail.com", "zhy19@pitt.edu"]

