
<div data-name="HIVE IEC - Carnegie Mellon University">
<div class="card">
<div class="card-body">
<h5 class="card-title">HIVE IEC - Carnegie Mellon University</h5>
<h6 class="card-subtitle mb-2 text-muted">HIVE Infrastructure Component</h6>


<p class="card-text"><b>PIs</b><br />

Nicholas A. Nystrom <b>(Contact)</b>, Jonathan C. Silverstein
</p>

</div>
</div>
</div>

<div data-name="HIVE MC - Indiana University Bloomington">
<div class="card">
<div class="card-body">
<h5 class="card-title">HIVE MC - Indiana University Bloomington</h5>
<h6 class="card-subtitle mb-2 text-muted">HIVE Mapping Component</h6>


<p class="card-text"><b>PI</b><br />

Katy Borner <b>(Contact)</b>
</p>

</div>
</div>
</div>

<div data-name="HIVE MC - New York Genome Center">
<div class="card">
<div class="card-body">
<h5 class="card-title">HIVE MC - New York Genome Center</h5>
<h6 class="card-subtitle mb-2 text-muted">HIVE Mapping Component</h6>


<p class="card-text"><b>PIs</b><br />

Rahul Satija <b>(Contact)</b>, John Carlo Marioni
</p>

</div>
</div>
</div>

<div data-name="HIVE TC - Carnegie Mellon University">
<div class="card">
<div class="card-body">
<h5 class="card-title">HIVE TC - Carnegie Mellon University</h5>
<h6 class="card-subtitle mb-2 text-muted">HIVE Tools Component</h6>


<p class="card-text"><b>PIs</b><br />

Ziv Bar-Joseph <b>(Contact)</b>, Benedict Paten, Sarah Teichmann
</p>
</div>
</div>
</div>

<div data-name="HIVE TC - Harvard Medical School">
<div class="card">
<div class="card-body">
<h5 class="card-title">HIVE TC - Harvard Medical School</h5>
<h6 class="card-subtitle mb-2 text-muted">HIVE Tools Component</h6>


<p class="card-text"><b>PI</b><br />

Nils Gehlenborg <b>(Contact)</b>
</p>

</div>
</div>
</div>


<div data-name="NIH - National Institutes of Health">
<div class="card">
<div class="card-body">
<h5 class="card-title">NIH - National Institutes of Health</h5>
<h6 class="card-subtitle mb-2 text-muted">NIH Leadership</h6>

</div>
</div>
</div>

<div data-name="RTI - Broad Institute">
<div class="card">
<div class="card-body">
<h5 class="card-title">RTI - Broad Institute</h5>
<h6 class="card-subtitle mb-2 text-muted">Implementation of Slide-seq for high-resolution, whole-transcriptome human tissue maps</h6>

<p class="card-text"><b>PIs</b><br />

Evan Macosko
</p>

</div>
</div>
</div>


<div data-name="RTI - GEscd">
<div class="card">
<div class="card-body">
<h5 class="card-title">RTI - GEscd</h5>
<h6 class="card-subtitle mb-2 text-muted">Multi-Scale 3-D Image Analytics for High Dimensional Spatial Mapping of Normal Tissues</h6>

<p class="card-text"><b>PIs</b><br />

Yousef Al-Kofahi
</p>

</div>
</div>
</div>

<div data-name="RTI - Northwestern University">
<div class="card">
<div class="card-body">
<h5 class="card-title">RTI - Northwestern University</h5>
<h6 class="card-subtitle mb-2 text-muted">Renewable and Specific Affinity Reagents for Mapping Proteoforms in Human Tissues</h6>

<p class="card-text"><b>PIs</b><br />

Neil Kelleher
</p>

</div>
</div>
</div>

<div data-name="RTI - Stanford University">
<div class="card">
<div class="card-body">
<h5 class="card-title">RTI - Stanford University</h5>
<h6 class="card-subtitle mb-2 text-muted">A robust platform for multiplexed, subcellular proteomic imaging in human tissue</h6>

<p class="card-text"><b>PIs</b><br />

Mike Angelo, Sean Bendall
</p>

</div>
</div>
</div>


<div data-name="TMC - California Institute of Technology">
<div class="card">
<div class="card-body">
<h5 class="card-title">TMC - California Institute of Technology</h5>
<h6 class="card-subtitle mb-2 text-muted">Tissue Mapping Center</h6>

<p class="card-text"><b>PIs</b><br />

Long Cai <b>(Contact)</b>, Jay Ashok Shendure, Bruce Colston Trapnell
</p>

</div>
</div>
</div>


<div data-name="TMC - Stanford University">
<div class="card">
<div class="card-body">
<h5 class="card-title">TMC - Stanford University</h5>
<h6 class="card-subtitle mb-2 text-muted">Tissue Mapping Center</h6>

<p class="card-text"><b>PIs</b><br />

Michael P. Snyder <b>(Contact)</b>, Garry P Nolan
</p>

</div>
</div>
</div>

<div data-name="TMC - University of California, San Diego">
<div class="card">
<div class="card-body">
<h5 class="card-title">TMC - University of California, San Diego</h5>
<h6 class="card-subtitle mb-2 text-muted">Tissue Mapping Center</h6>

<p class="card-text"><b>PIs</b><br />

Kun Zhang <b>(Contact)</b>, James S. Hagood, Sanjay Jain, Peter V. Kharchenko, Xin Sun

</p>

</div>
</div>
</div>

<div data-name="TMC - University of Florida">
<div class="card">
<div class="card-body">
<h5 class="card-title">TMC - University of Florida</h5>
<h6 class="card-subtitle mb-2 text-muted">Tissue Mapping Center</h6>

<p class="card-text"><b>PIs</b><br />

Mark A. Atkinson <b>(Contact)</b>, Bernd Bodenmiller, Harry S. Nick
</p>

</div>
</div>
</div>

<div data-name="TMC - Vanderbilt University">
<div class="card">
<div class="card-body">
<h5 class="card-title">TMC - Vanderbilt University</h5>
<h6 class="card-subtitle mb-2 text-muted">Tissue Mapping Center</h6>

<p class="card-text"><b>PIs</b><br />

Richard M Caprioli <b>(Contact)</b>, Jeffrey M Spraggins
</p>

</div>
</div>
</div>

<div data-name="TTD - California Institute of Technology">
<div class="card">
<div class="card-body">
<h5 class="card-title">TTD - California Institute of Technology</h5>
<h6 class="card-subtitle mb-2 text-muted">Transformative Technology Development</h6>

<p class="card-text"><b>PIs</b><br />

Long Cai <b>(Contact)</b><br />

Guo-Cheng Yuan
</p>

</div>
</div>
</div>

<div data-name="TTD - Harvard University">
<div class="card">
<div class="card-body">
<h5 class="card-title">TTD - Harvard University</h5>
<h6 class="card-subtitle mb-2 text-muted">Transformative Technology Development</h6>

<p class="card-text"><b>PI</b><br />

Peng Yin <b>(Contact)</b>
</p>

</div>
</div>
</div>

<div data-name="TTD - Purdue University">
<div class="card">
<div class="card-body">
<h5 class="card-title">TTD - Purdue University</h5>
<h6 class="card-subtitle mb-2 text-muted">Transformative Technology Development</h6>

<p class="card-text"><b>PI</b><br />

Julia Laskin <b>(Contact)</b>
</p>

</div>
</div>
</div>

<div data-name="TTD - Stanford University">
<div class="card">
<div class="card-body">
<h5 class="card-title">TTD - Stanford University</h5>
<h6 class="card-subtitle mb-2 text-muted">Transformative Technology Development</h6>

<p class="card-text"><b>PIs</b><br />

Pehr A Harbury <b>(Contact)</b>, Tushar Jasubhai Desai
</p>

</div>
</div>
</div>