<select name="component" class="form-control" id="id_component">
<option value="----">----</option>

<option value="HIVE IEC - Carnegie Mellon University">HIVE IEC - Carnegie Mellon University</option>

<option value="HIVE MC - Indiana University Bloomington">HIVE MC - Indiana University Bloomington</option>

<option value="HIVE MC - New York Genome Center">HIVE MC - New York Genome Center</option>

<option value="HIVE TC - Carnegie Mellon University">HIVE TC - Carnegie Mellon University</option>

<option value="HIVE TC - Harvard Medical School">HIVE TC - Harvard Medical School</option>

<option value="NIH - National Institutes of Health">NIH - National Institutes of Health</option>

<option value="RTI - Broad Institute">RTI - Broad Institute</option>

<option value="RTI - GEscd">RTI - GEscd</option>

<option value="RTI - Northwestern University">RTI - Northwestern University</option>

<option value="RTI - Stanford University">RTI - Stanford University</option>

<option value="TMC - California Institute of Technology">TMC - California Institute of Technology</option>

<option value="TMC - Stanford University">TMC - Stanford University</option>

<option value="TMC - University of California, San Diego">TMC - University of California, San Diego</option>

<option value="TMC - University of Florida">TMC - University of Florida</option>

<option value="TMC - Vanderbilt University">TMC - Vanderbilt University</option>

<option value="TTD - California Institute of Technology">TTD - California Institute of Technology</option>

<option value="TTD - Harvard University">TTD - Harvard University</option>

<option value="TTD - Purdue University">TTD - Purdue University</option>

<option value="TTD - Stanford University">TTD - Stanford University</option>

<option value="Other">Other</option>

</select>