
<div data-name="Demonstration Project - University of Illinois, Chicago">
<div class="card">
<div class="card-body">
<h5 class="card-title">Demonstration Project - University of Illinois, Chicago</h5>
<h6 class="card-subtitle mb-2 text-muted"></h6>

<p class="card-text"><b>PIs</b><br />

Alexandra Naba (anaba@uic.edu)
</p>

</div>
</div>
</div>


<div data-name="Demonstration Project - Harvard School of Medicine">
<div class="card">
<div class="card-body">
<h5 class="card-title">Demonstration Project - Harvard School of Medicine</h5>
<h6 class="card-subtitle mb-2 text-muted"></h6>

<p class="card-text"><b>PIs</b><br />

Rajat Gupta (RGUPTA@bwh.harvard.edu)
</p>

</div>
</div>
</div>

<!-- Remove single quote from data-name to ensure parsing match -->
<div data-name="Demonstration Project - Childrens Hospital of Philadelphia">
<div class="card">
<div class="card-body">
<h5 class="card-title">Demonstration Project - Children's Hospital of Philadelphia</h5>
<h6 class="card-subtitle mb-2 text-muted"></h6>

<p class="card-text"><b>PIs</b><br />

Liming Pei (peil@chop.edu)
</p>

</div>
</div>
</div>

<!-- Remove single quote from data-name to ensure parsing match -->
<div data-name="Demonstration Project - Lurie Childrens">
<div class="card">
<div class="card-body">
<h5 class="card-title">Demonstration Project - Lurie Children's</h5>
<h6 class="card-subtitle mb-2 text-muted"></h6>

<p class="card-text"><b>PIs</b><br />
Monica Laronda
</p>

</div>
</div>
</div>



<div data-name="HIVE IEC - Carnegie Mellon University">
<div class="card">
<div class="card-body">
<h5 class="card-title">HIVE IEC - Carnegie Mellon University</h5>
<h6 class="card-subtitle mb-2 text-muted">HIVE Infrastructure Component</h6>

<p class="card-text"><b>PIs</b><br />

Phil Bood <b>(Contact)</b>, Jonathan C. Silverstein
</p>

</div>
</div>
</div>

<div data-name="HIVE MC - Indiana University Bloomington">
<div class="card">
<div class="card-body">
<h5 class="card-title">HIVE MC - Indiana University Bloomington</h5>
<h6 class="card-subtitle mb-2 text-muted">HIVE Mapping Component</h6>

<p class="card-text"><b>PI</b><br />

Katy Borner <b>(Contact)</b>
</p>

</div>
</div>
</div>

<div data-name="HIVE MC - New York Genome Center">
<div class="card">
<div class="card-body">
<h5 class="card-title">HIVE MC - New York Genome Center</h5>
<h6 class="card-subtitle mb-2 text-muted">HIVE Mapping Component</h6>

<p class="card-text"><b>PIs</b><br />

Rahul Satija <b>(Contact)</b>, John Carlo Marioni
</p>

</div>
</div>
</div>

<div data-name="HIVE TC - Carnegie Mellon University">
<div class="card">
<div class="card-body">
<h5 class="card-title">HIVE TC - Carnegie Mellon University</h5>
<h6 class="card-subtitle mb-2 text-muted">HIVE Tools Component</h6>

<p class="card-text"><b>PIs</b><br />

Ziv Bar-Joseph <b>(Contact)</b>, Benedict Paten, Sarah Teichmann
</p>
</div>
</div>
</div>

<div data-name="HIVE TC - Harvard Medical School">
<div class="card">
<div class="card-body">
<h5 class="card-title">HIVE TC - Harvard Medical School</h5>
<h6 class="card-subtitle mb-2 text-muted">HIVE Tools Component</h6>

<p class="card-text"><b>PI</b><br />

Nils Gehlenborg <b>(Contact)</b>
</p>

</div>
</div>
</div>


<div data-name="HIVE TC - University of Florida">
<div class="card">
<div class="card-body">
<h5 class="card-title">HIVE TC - University of Florida</h5>
<h6 class="card-subtitle mb-2 text-muted">HIVE Tools Component</h6>

<p class="card-text"><b>PI</b><br />

Pinaki Sarder <b>(Contact)</b>
</p>

</div>
</div>
</div>


<div data-name="NIH - National Institutes of Health">
<div class="card">
<div class="card-body">
<h5 class="card-title">NIH - National Institutes of Health</h5>
<h6 class="card-subtitle mb-2 text-muted">NIH Leadership</h6>

</div>
</div>
</div>

<div data-name="RTI - Broad Institute">
<div class="card">
<div class="card-body">
<h5 class="card-title">RTI - Broad Institute</h5>
<h6 class="card-subtitle mb-2 text-muted">Implementation of Slide-seq for high-resolution, whole-transcriptome human tissue maps</h6>

<p class="card-text"><b>PIs</b><br />

Evan Macosko
</p>

</div>
</div>
</div>


<div data-name="RTI - GEscd">
<div class="card">
<div class="card-body">
<h5 class="card-title">RTI - GEscd</h5>
<h6 class="card-subtitle mb-2 text-muted">Multi-Scale 3-D Image Analytics for High Dimensional Spatial Mapping of Normal Tissues</h6>

<p class="card-text"><b>PIs</b><br />

Yousef Al-Kofahi
</p>

</div>
</div>
</div>

<div data-name="RTI - Northwestern University">
<div class="card">
<div class="card-body">
<h5 class="card-title">RTI - Northwestern University</h5>
<h6 class="card-subtitle mb-2 text-muted">Renewable and Specific Affinity Reagents for Mapping Proteoforms in Human Tissues</h6>

<p class="card-text"><b>PIs</b><br />

Neil Kelleher
</p>

</div>
</div>
</div>

<div data-name="RTI - Stanford University">
<div class="card">
<div class="card-body">
<h5 class="card-title">RTI - Stanford University</h5>
<h6 class="card-subtitle mb-2 text-muted">A robust platform for multiplexed, subcellular proteomic imaging in human tissue</h6>

<p class="card-text"><b>PIs</b><br />

Mike Angelo, Sean Bendall
</p>

</div>
</div>
</div>


<div data-name="TMC - BIDMC">
<div class="card">
<div class="card-body">
<h5 class="card-title">TMC - BIDMC</h5>
<h6 class="card-subtitle mb-2 text-muted">Tissue Mapping Center</h6>

<p class="card-text"><b>PIs</b><br />

Dhruv Singhal
</p>

</div>
</div>
</div>


<div data-name="TMC - California Institute of Technology">
<div class="card">
<div class="card-body">
<h5 class="card-title">TMC - California Institute of Technology</h5>
<h6 class="card-subtitle mb-2 text-muted">Tissue Mapping Center</h6>

<p class="card-text"><b>PIs</b><br />

Long Cai <b>(Contact)</b>, Jay Ashok Shendure, Bruce Colston Trapnell
</p>

</div>
</div>
</div>

<!-- Remove single quote from data-name to ensure parsing match -->
<div data-name="TMC - Childrens Hospital of Philadelphia">
<div class="card">
<div class="card-body">
<h5 class="card-title">TMC - Children's Hospital of Philadelphia</h5>
<h6 class="card-subtitle mb-2 text-muted">Tissue Mapping Center</h6>

<p class="card-text"><b>PIs</b><br />

Kai Tan <b>(Contact)</b>, Liming Pei, Kathrin Bernt
</p>

</div>
</div>
</div>


<!-- Remove single quote from data-name to ensure parsing match -->
<div data-name="TMC - Childrens Hospital of Philadelphia Heart">
<div class="card">
<div class="card-body">
<h5 class="card-title">TMC - Children's Hospital of Philadelphia Heart</h5>
<h6 class="card-subtitle mb-2 text-muted">Tissue Mapping Center</h6>

<p class="card-text"><b>PIs</b><br />

Kai Tan <b>(Contact)</b>
</p>

</div>
</div>
</div>


<div data-name="TMC - GE-Pitt">
<div class="card">
<div class="card-body">
<h5 class="card-title">TMC - GE-Pitt</h5>
<h6 class="card-subtitle mb-2 text-muted">Tissue Mapping Center</h6>

<p class="card-text"><b>PI</b><br />
Fiona Ginty
</p>

</div>
</div>
</div>



<div data-name="TMC - Johns Hopkins University">
<div class="card">
<div class="card-body">
<h5 class="card-title">TMC - Johns Hopkins University</h5>
<h6 class="card-subtitle mb-2 text-muted">Tissue Mapping Center</h6>

<p class="card-text"><b>PI</b><br />
Denis Wirtz
</p>

</div>
</div>
</div>



<div data-name="TMC - Pacific Northwest National Laboratory">
<div class="card">
<div class="card-body">
<h5 class="card-title">TMC - Pacific Northwest National Laboratory</h5>
<h6 class="card-subtitle mb-2 text-muted">Tissue Mapping Center</h6>

<p class="card-text"><b>PIs</b><br />

Charles Asong, Wei-Jun Qian, Clayton Mathews, James Carson
</p>

</div>
</div>
</div>

<div data-name="TMC - Stanford University">
<div class="card">
<div class="card-body">
<h5 class="card-title">TMC - Stanford University</h5>
<h6 class="card-subtitle mb-2 text-muted">Tissue Mapping Center</h6>

<p class="card-text"><b>PIs</b><br />

Michael P. Snyder <b>(Contact)</b>, Garry P Nolan
</p>

</div>
</div>
</div>


<div data-name="TMC - Stanford University Bone Marrow">
<div class="card">
<div class="card-body">
<h5 class="card-title">TMC - Stanford University Bone Marrow</h5>
<h6 class="card-subtitle mb-2 text-muted">Tissue Mapping Center</h6>

<p class="card-text"><b>PI</b><br />
Sean Bendall
</p>

</div>
</div>
</div>


<div data-name="TMC - University of California San Diego Kidney">
<div class="card">
<div class="card-body">
<h5 class="card-title">TMC - University of California San Diego Kidney</h5>
<h6 class="card-subtitle mb-2 text-muted">Tissue Mapping Center</h6>

<p class="card-text"><b>PIs</b><br />

Kun Zhang <b>(Contact)</b>, James S. Hagood, Sanjay Jain, Peter V. Kharchenko, Xin Sun
</p>

</div>
</div>
</div>

<div data-name="TMC - University of California San Diego Female Reproduction">
<div class="card">
<div class="card-body">
<h5 class="card-title">TMC - University of California San Diego Female Reproduction</h5>
<h6 class="card-subtitle mb-2 text-muted">Tissue Mapping Center</h6>

<p class="card-text"><b>PI</b><br />
Louise Laurent
</p>

</div>
</div>
</div>


<div data-name="TMC - University of California San Diego Pregnant Female Reproductive">
<div class="card">
<div class="card-body">
<h5 class="card-title">TMC - University of California San Diego Pregnant Female Reproductive</h5>
<h6 class="card-subtitle mb-2 text-muted">Tissue Mapping Center</h6>

<p class="card-text"><b>PI</b><br />
Louise Laurent
</p>

</div>
</div>
</div>


<div data-name="TMC - University of Connecticut">
<div class="card">
<div class="card-body">
<h5 class="card-title">TMC - University of Connecticut</h5>
<h6 class="card-subtitle mb-2 text-muted">Tissue Mapping Center</h6>

<p class="card-text"><b>PI</b><br />

David Rowe
</p>

</div>
</div>
</div>

<div data-name="TMC - University of Florida">
<div class="card">
<div class="card-body">
<h5 class="card-title">TMC - University of Florida</h5>
<h6 class="card-subtitle mb-2 text-muted">Tissue Mapping Center</h6>

<p class="card-text"><b>PIs</b><br />

Mark A. Atkinson <b>(Contact)</b>, Bernd Bodenmiller, Harry S. Nick
</p>

</div>
</div>
</div>

<div data-name="TMC - University of Pennsylvania">
<div class="card">
<div class="card-body">
<h5 class="card-title">TMC - University of Pennsylvania</h5>
<h6 class="card-subtitle mb-2 text-muted">Tissue Mapping Center</h6>

<p class="card-text"><b>PI</b><br />

Junhyong Kim<b>(Contact)</b>
</p>

</div>
</div>
</div>


<div data-name="TMC - University of Rochester Medical Center">
<div class="card">
<div class="card-body">
<h5 class="card-title">TMC - University of Rochester Medical Center</h5>
<h6 class="card-subtitle mb-2 text-muted">Tissue Mapping Center</h6>

<p class="card-text"><b>PI</b><br />

Gloria Pryhuber<b>(Contact)</b>
</p>

</div>
</div>
</div>


<div data-name="TMC - Vanderbilt University Kidney">
<div class="card">
<div class="card-body">
<h5 class="card-title">TMC - Vanderbilt University Kidney</h5>
<h6 class="card-subtitle mb-2 text-muted">Tissue Mapping Center</h6>

<p class="card-text"><b>PIs</b><br />

Richard M Caprioli <b>(Contact)</b>, Jeffrey M Spraggins
</p>

</div>
</div>
</div>

<div data-name="TMC - Vanderbilt University Eye/Pancreas">
<div class="card">
<div class="card-body">
<h5 class="card-title">TMC - Vanderbilt University Eye/Pancreas</h5>
<h6 class="card-subtitle mb-2 text-muted">Tissue Mapping Center</h6>

<p class="card-text"><b>PI</b><br />

Jeffrey M Spraggins
</p>

</div>
</div>
</div>


<div data-name="TMC - Washington University in St. Louis Kidney">
<div class="card">
<div class="card-body">
<h5 class="card-title">TMC - Washington University in St. Louis Kidney</h5>
<h6 class="card-subtitle mb-2 text-muted">Tissue Mapping Center</h6>

<p class="card-text"><b>PI</b><br />
Sanjay Jain
</p>

</div>
</div>
</div>


<div data-name="TTD - California Institute of Technology">
<div class="card">
<div class="card-body">
<h5 class="card-title">TTD - California Institute of Technology</h5>
<h6 class="card-subtitle mb-2 text-muted">Transformative Technology Development</h6>

<p class="card-text"><b>PIs</b><br />

Long Cai <b>(Contact)</b><br />

Guo-Cheng Yuan
</p>

</div>
</div>
</div>

<div data-name="TTD - Columbia University/Pennsylvania State University">
<div class="card">
<div class="card-body">
<h5 class="card-title">TTD - Columbia University/Pennsylvania State University</h5>
<h6 class="card-subtitle mb-2 text-muted">Transformative Technology Development</h6>

<p class="card-text"><b>PIs</b><br />

Brent Stockwell <b>(Contact)</b>, Hua Tian, Nicholas Winograd
</p>

</div>
</div>
</div>

<div data-name="TTD - Harvard University">
<div class="card">
<div class="card-body">
<h5 class="card-title">TTD - Harvard University</h5>
<h6 class="card-subtitle mb-2 text-muted">Transformative Technology Development</h6>

<p class="card-text"><b>PI</b><br />

Peng Yin <b>(Contact)</b>
</p>

</div>
</div>
</div>

<div data-name="TTD - Pacific Northwest National Laboratory">
<div class="card">
<div class="card-body">
<h5 class="card-title">TTD - Pacific Northwest National Laboratory</h5>
<h6 class="card-subtitle mb-2 text-muted">Transformative Technology Development</h6>

<p class="card-text"><b>PI</b><br />

Ljiljana Pasa-Tolic
</p>

</div>
</div>
</div>

<div data-name="TTD - Pacific Northwest National Laboratory/Northwestern University">
<div class="card">
<div class="card-body">
<h5 class="card-title">TTD - Pacific Northwest National Laboratory/Northwestern University</h5>
<h6 class="card-subtitle mb-2 text-muted">Transformative Technology Development</h6>

<p class="card-text"><b>PI</b><br />

Tujin Shi <b>(Contact)</b>, Huiping Liu
</p>

</div>
</div>
</div>

<div data-name="TTD - Purdue University">
<div class="card">
<div class="card-body">
<h5 class="card-title">TTD - Purdue University</h5>
<h6 class="card-subtitle mb-2 text-muted">Transformative Technology Development</h6>

<p class="card-text"><b>PI</b><br />

Julia Laskin <b>(Contact)</b>
</p>

</div>
</div>
</div>

<div data-name="TTD - Stanford University">
<div class="card">
<div class="card-body">
<h5 class="card-title">TTD - Stanford University</h5>
<h6 class="card-subtitle mb-2 text-muted">Transformative Technology Development</h6>

<p class="card-text"><b>PIs</b><br />

Pehr A Harbury <b>(Contact)</b>, Tushar Jasubhai Desai
</p>

</div>
</div>
</div>

<div data-name="TTD - University of California San Diego/City of Hope">
<div class="card">
<div class="card-body">
<h5 class="card-title">TTD - University of California San Diego/City of Hope</h5>
<h6 class="card-subtitle mb-2 text-muted">Transformative Technology Development</h6>

<p class="card-text"><b>PI</b><br />

Sheng Zhong
</p>

</div>
</div>
</div>

<div data-name="TTD - Yale University">
<div class="card">
<div class="card-body">
<h5 class="card-title">TTD - Yale University</h5>
<h6 class="card-subtitle mb-2 text-muted">Transformative Technology Development</h6>

<p class="card-text"><b>PI</b><br />

Rong Fan
</p>

</div>
</div>
</div>

<div data-name="EPC">
<div class="card">
<div class="card-body">
<h5 class="card-title">EPC</h5>
<h6 class="card-subtitle mb-2 text-muted"></h6>

<p class="card-text">
External Program Consultants (EPC) are non-members who offer independent oversight and input on implementation strategy for the Consortium. EPC members should register for an account, however, to be given access to Consortium documents and other collateral.
  </p>

</div>
</div>
</div>

<div data-name="Associate Member">
<div class="card">
<div class="card-body">
<h5 class="card-title">Associate Member</h5>
<h6 class="card-subtitle mb-2 text-muted"></h6>

<p class="card-text">
HuBMAP offers researchers not currently funded by HuBMAP the opportunity to apply for Associate Member status. Associate Members are expected to contribute to the research goals of the Consortium by generating, sharing or analyzing data; jointly developing software or algorithms; developing mutually beneficial resources, protocols or reagents; or coordinating development of standards, formats or metadata. You must be approved as an Associate Member before you submit this registration request. More information and details on <a href="https://hubmapconsortium.org/policies/associate-member-policy" target="_blank">how to apply</a>.
</p>

</div>
</div>
</div>

