{% extends "layouts/login_layout.html" %}
{% block content %}
<div class="alert alert-info" role="alert">
<h1>HuBMAP User Registration and Profile Login</h1>
<p>
This is the portal to register and create a new HuBMAP account. For users who have already registered, you can update your profile information via this tool. User authentication is required. 
</p>

<p>
Please click the button below and you will be redirected to the Globus login page.
There you can login with your institutional credentials. Thank you!
</p>

<hr />

<a class="btn btn-primary btn-lg" href="{{ config['FLASK_APP_BASE_URI'] }}/login">
Login with your institutional credentials via Globus
</a>
</div>
{% endblock %}