<select name="organization" class="form-control" id="id_organization">
<option value="----">----</option>

<option value="Broad Institute">Broad Institute</option>

<option value="California Institute of Technology">California Institute of Technology</option>

<option value="Carnegie Mellon University">Carnegie Mellon University</option>

<option value="Children's Hospital of Boston">Children's Hospital of Boston</option>

<option value="Children's Hospital of Philadelphia">Children's Hospital of Philadelphia</option>

<option value="City of Hope National Medical Center">City of Hope National Medical Center</option>

<option value="Columbia University">Columbia University</option>

<option value="Department of Biomedical Informatics (DBMI)/Unversity of Pittsburgh(Pitt)">Department of Biomedical Informatics (DBMI)/Unversity of Pittsburgh(Pitt)</option>

<option value="GEscd">GEscd</option>

<option value="Harvard Medical School">Harvard Medical School</option>

<option value="Harvard University">Harvard University</option>

<option value="Indiana University">Indiana University</option>

<option value="Knowinnovation Inc.">Knowinnovation Inc.</option>

<option value="NCI">NCI</option>

<option value="NHGRI">NHGRI</option>

<option value="NHLBI">NHLBI</option>

<option value="NIA">NIA</option>

<option value="NIAID">NIAID</option>

<option value="NIAMS">NIAMS</option>

<option value="NIBIB">NIBIB</option>

<option value="NICHD">NICHD</option>

<option value="NIDA">NIDA</option>

<option value="NIDDK">NIDDK</option>

<option value="NIGMS">NIGMS</option>

<option value="NIMH">NIMH</option>

<option value="NINDS">NINDS</option>

<option value="New York Genome Center">New York Genome Center</option>

<option value="Northwestern University">Northwestern University</option>

<option value="OD">OD</option>

<option value="Pacific Northwest National Laboratory">Pacific Northwest National Laboratory</option>

<option value="Pennsylvania State University">Pennsylvania State University</option>

<option value="PSC (Pittsburgh Supercomputing Center)/CMU">PSC (Pittsburgh Supercomputing Center)/CMU</option>

<option value="Purdue University">Purdue University</option>

<option value="Renaissance Computing Institute (RENCI), University of North Carolina, Chapel Hill">Renaissance Computing Institute (RENCI), University of North Carolina, Chapel Hill</option>

<option value="Stanford University">Stanford University</option>

<option value="The Jackson Laboratory (JAX)">The Jackson Laboratory (JAX)</option>

<option value="The University of Texas at Austin/TACC">The University of Texas at Austin/TACC</option>

<option value="University of Alabama at Birmingham">University of Alabama at Birmingham</option>

<option value="University of California San Diego">University of California San Diego</option>

<option value="University of California Santa Cruz">University of California Santa Cruz</option>

<option value="University of Florida">University of Florida</option>

<option value="University of Iowa">University of Iowa</option>

<option value="University of Pennsylvania">University of Pennsylvania</option>

<option value="University of Pittsburgh">University of Pittsburgh</option>

<option value="University of Rochester Medical Center">University of Rochester Medical Center</option>

<option value="University of South Dakota">University of South Dakota</option>

<option value="University of Washington">University of Washington</option>

<option value="University of Zurich">University of Zurich</option>

<option value="Vanderbilt University">Vanderbilt University</option>

<option value="Vanderbilt University Medical Center">Vanderbilt University Medical Center</option>

<option value="Yale School of Medicine">Yale School of Medicine</option>

<option value="Yale University">Yale University</option>

<option value="Other">Other</option>

</select>